name: Build and Publish Docker
on:
  push:
    branches:
      - master
jobs:
  job_1:
    runs-on: ubuntu-latest  
    steps:
      - id: login
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - id: build
        run: sudo docker build b094d7b21ad5/graph -f https://github.com/mihalka/graph.git#:master
      - id: push
        run: docker pull b094d7b21ad5/graph


          
  
   
   
        
        
      

