name: Build and Publish Docker
on:
  push:
    branches:
      - master
    tags:
      -"*"
  steps:  
   shell: bash  
   run:  echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
   run: docker build -t b094d7b21ad5/graph .
   run: docker push b094d7b21ad5/graph
